#header-1-menu {
  visibility: hidden;
}

.card {
  position: relative;
  text-align: center;
  top: 0;
  transition: top ease 0.1s;
}
.card:hover {
  top: -3px;
  cursor: pointer;
}

.card_text_centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}
