@tailwind preflight;
@tailwind components;
@tailwind utilities;
@tailwind screens;


* {
	font-family: gotham-light;
}

@font-face {
  font-family: 'gotham-light';
  src: url('//assets.craftacademy.se/fonts/gotham-light-webfont.eot');
  src: url('//assets.craftacademy.se/fonts/gotham-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('//assets.craftacademy.se/fonts/gotham-light-webfont.woff') format('woff'),
    url('//assets.craftacademy.se/fonts/gotham-light-webfont.ttf') format('truetype'),
    url('//assets.craftacademy.se/fonts/gotham-light-webfont.svg#linea-arrows-10') format('svg');
  font-weight: normal;
  font-style: normal;
  }

.event-card {
  width: 314px;
  height: 300px;
  margin-right: 15px;
  margin-bottom: 15px;
  background-color: #F1F5F8;
  text-align: center;
}

.event-card .card-image {
  object-fit: cover;
  height: 180px;
  width: 314px;
}

.event-card .date-card {
  border-radius: 3px;
  background-color: white;
  width: 50px;
  padding: 5px;
  border: 0.5px solid rgba(46,62,72,.6);
}

.event-card .date-card-day {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.1;
  color: red;
}

.event-card .date-card-month {
  font-weight: 500;
  color: rgba(46,62,72,.6);
  font-size: 14px;
}

.event-card .event-card-body {
  text-align: left;
  padding-bottom: 8px;
  padding-top: 8px;
}

.event-card .event-card-body .date-line {
  color: rgba(46,62,72,.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.1;
  padding-bottom: 3px;
}

.event-card .event-card-body .title-line {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #2e3e48;
  font-size: 20px;
  font-weight: 600;
  margin-top: 2px;
}

.event-card .event-card-avatar {
  height: 40px;
  border-radius: 80px;
}

.event-card .event-card-extra-info {
  width: 80%;
  text-align: left;
  padding-left: 70px;
  line-height: 20px;
  font-size: 14px;
  font-weight: 400;
  color: rgba(46,62,72,.6)
}

.modal_close {
	background: transparent !important;
	cursor: pointer;
	font-family: arial;
	position: absolute;
	top: 3px;
	right: 3px;
	font-size: 18px;
	line-height: 30px;
	width: 30px;
	height: 30px;
	text-align: center;
}


